@import './coins.css';

.header{
  display: flex;
  font-size: 1.4rem;
  /* gap: 1rem; */
  justify-content: space-between;
  padding: 1rem;
}

.header-right{
  display: flex;
  gap: 2rem;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
