.modal{
  margin: auto;
  inset: 0;
  position: absolute;
  border:none;
  max-inline-size: 21.43rem;
  /* min-block-size: 12.4rem; */
  inline-size: 90%;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: end;
}

.modal .buttonLarge{
  margin-block-start: 2rem;
}

  .modal-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.modal::backdrop{
    background: rgb(0, 0, 0, .7);
  }

.slideSpeed{
  outline: 0;
  inline-size: inherit;
  margin-block-start: .5rem ;
  cursor: pointer;

}

input[type=range]{
  -webkit-appearance: none;
  background: #4E19A5;
  border-radius: 1.5rem;
  border: 2px solid var(--white);
  filter: drop-shadow(1px 1px 2px #000);
  box-sizing: border-box;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid white;
  border-radius: 50%;
  background: #67EB00;
  block-size: 1.5rem;
  inline-size: 1.5rem;
}

.modal form{
inline-size: 100%;
}


